<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logger" xsi:type="IronyFile"
      fileName="${specialfolder:folder=ApplicationData}/Mario/IronyModManager-Logs/${date:format=yyyy-MM-dd}_${level}.log"
      layout="${longdate} ${message} ${exception:format=tostring}" maxArchiveDays="10"/>
    <target name="logconsole" xsi:type="Console"/>
    <target name="trace" xsi:type="trace" layout="Layout"/>
  </targets>  
  
  <rules>
    <logger name="*" minLevel="Error" writeTo="logger"/>
    <logger name="*" minlevel="Error" writeTo="logconsole"/>
    <logger name="*" minLevel="Error" writeTo="trace"/>
  </rules>
</nlog>